@model WebApplication1333333.Models.Company

@{
    ViewData["Title"] = "Company";
}
<h1>@ViewData["Title"]</h1>

<p>Company</p>
<h1>Company with the Highest Number of Employees</h1>
@if (Model != null)
{
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Employees:</strong> @Model.Employees</p>
}
else
{
    <p>No company data available.</p>
}